.container {
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  .cup-card {
    border-radius: 4px; /* Default border radius for medium devices */
    transition: all 0.3s ease-in-out;
     /* Corrected border syntax */
}


  
  @media (min-width: 640px) {
    /* Small devices (sm) */
    .cup-card {
      border-radius: 12px; /* Increased border radius for small devices */
    }
  }
  
  @media (min-width: 768px) {
    /* Medium devices (md) */
    .cup-card {
      border-radius: 3px; /* Adjusted border radius for medium devices */
    }
  }
  
  @media (min-width: 1024px) {
    /* Large devices (lg) */
    .cup-card {
      border-radius: 4px; /* Reset border radius for large devices */
    }
  }
  
  .cup-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border: 3px solid gold;
  }
  .cup-card {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(12, 240, 175);
  }
  .searchbox{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  /* Dark mode styles */
/* Dark mode styles */
.dark .cup-card {
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2); /* Increased opacity */
}

.dark .cup-card:hover {
  box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.3); /* Increased opacity and spread */
}






/* Dark mode image adjustments */
.dark .invert {
  filter: invert(1);
}
  /* .searchul
  {
    width: 1255px;
  } */



  /* .microphone-button,
  .cross-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .microphone-button {
    right: 10px; 
  }
  
  .cross-button {
    right: 20px; 
  }
  
  @media screen and (max-width: 768px) {
    .microphone-button,
    .cross-button {
      right: 1px;
    }
  }
   */


   .microphone-button,
.cross-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.microphone-button {
  right: 10px; /* Adjust position as needed */
}

.cross-button {
  right: 20px; /* Adjust position as needed */
}

/* Media query for small devices */
@media screen and (max-width: 768px) {
  .microphone-button,
  .cross-button {
    right: 30px; /* Adjust position for mobile */
  }

  /* Adjust the position of the input and add margin for spacing */
  #voice-search {
    padding-right: 40px; /* Increase padding to accommodate the button */
    margin-right: 35px; /* Add margin between the button and the placeholder */
   
  }
}
